.Header {
    position: fixed;
    width: 100%;
    padding: 50px 0;
    z-index: 100;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);

}

.HeaderScrolled {
    background: rgba(31, 71, 83, 0.8);
    padding: 15px 0;
    backdrop-filter: blur(6px);
}

.HeaderGroup {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-items: center;
    animation: HeroAnimation 3s 0.1s forwards cubic-bezier(0.2, 0.8, 0.2, 1);

}
.visually-hidden { 
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
    clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
    white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

.HeaderGroup a path {
    fill:#FCF7F5;
}
.HeaderScrolled .HeaderGroup a path {
    fill: #FCF7F5;
}

.Header a {
    color: white;
    font-weight: 700;
}

.Header button {
    padding: 8px 20px;
    font-size: 20px;
    background: #56ccf2;
    border: none;
    font-weight: 700;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: 1s;
}

.Header button:hover {
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(-3px);
}

@media (max-width: 640px) {
    .Header {
        padding: 15px 0;
    }
    .HeaderGroup {
        grid-template-columns: repeat(3, auto);
    }
    /* .Header a:nth-child(3){
        display: none;
    } */
}